
[Desktop Entry]
Name=Pronterface
GenericName=Printer Interface
Exec=pronterface.py
Icon=/usr/share/pixmaps/P-face.ico
Terminal=false
Type=Application
Categories=Graphics;
