
[Desktop Entry]
Name=Pronsole
GenericName=Printer console
Exec=pronsole.py
Icon=/usr/share/pixmaps/pronsole.ico
Terminal=true
Type=Application
Categories=Graphics;
