
[Desktop Entry]
Name=Printer Interface
GenericName=Pronterface
Exec=pronterface
Icon=/usr/share/pixmaps/P-face.ico
Terminal=false
Type=Application
Categories=Graphics;
