
[Desktop Entry]
Name=Skeinforge
GenericName=Slicing tool
Exec=skeinforge %f
Icon=development_section
Terminal=false
Type=Application
Categories=Graphics;
